* {
  padding: 0;
  margin: 0;
  scroll-snap-type: y mandatory;
}
.page {
  height: 100vh;
  width: 99vw;
  scroll-snap-align: center;
}
#p1 > video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 220px;
  border: solid 10px rgba(255, 255, 255, 0.199);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font: 100 70px "font";
  color: #fff;
  letter-spacing: 10px;
}
#p2 {
  position: relative;
  background-image: url(https://c2.im5i.com/2022/09/12/52cbU.jpg);
  background-size: cover;
}
#wangYiYun {
  opacity: 0.75;
}

#p3 {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #c1cff7;
  /*进行视频裁剪*/
  overflow: hidden;
}
#p3 #background {
  position: absolute;
  left: 50%;
  top: 50%;
  /*保证视频内容始终居中*/
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  /*保证视频充满屏幕*/
  object-fit: cover;
  min-height: 800px;
}

#shell {
  width: 90%;
  height: 60vh;
  display: flex;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 10px solid #fff;
  background-color: #fff;
  position: relative;
  opacity: 0.95;
}
.box > img {
  width: 200%;
  height: 85%;
  object-fit: cover;
  transition: 2s;
}
.box > span {
  font: 200 45px "优设标题黑";
  text-align: center;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 200, 200);
}
.box:hover {
  flex-basis: 40%;
}
.box:hover > img {
  width: 100%;
  height: 100%;
}
